@page
@model RazorBoatApp2026InClass.Pages.Boats.DeleteBoatModel
@{
    ViewData["Title"] = "Delete boat";
}

<h1>Delete boat</h1>
<form method="post">
    <label>Boat id</label>: @Model.ChosenBoat.Id<br />
    <label>Boat sailnumber</label>: @Model.ChosenBoat.SailNumber<br />
    <label>Boat year of construction</label>: @Model.ChosenBoat.YearOfConstruction
    <br />
    <input type="submit" asp-page-handler="Delete" asp-route-sailNumber="@Model.ChosenBoat.SailNumber" class="btn btn-danger" value="Delete boat"/>
    <input type="submit" class"btn btn-warning" value="Cancel" />
</form>

