@page
@model RazorBoatApp2026InClass.Pages.Boats.DeleteBoatModel
@{
    ViewData["Title"] = "Delete boat";
}

<h1>Delete boat</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="@Model.ChosenBoat.SailNumber" class="control-label"></label>
        <input asp-for="@Model.ChosenBoat.SailNumber" class="form-control" />
    </div>
    <div>
        <a asp-page="index">Back to list of boats</a>
    </div>
</form>

