@page
@model RazorBoatApp2026InClass.Pages.Members.LoginModel
@{
    ViewData["Title"] = "Log in";
}

<h3>Login form</h3>
@Model.Message
<form method="post">
    <table>
        <tr>
            <td>Email</td>
            <td><Input type="text" asp-for="@Model.Member.Mail" /></td>
        </tr>   
        <tr>
            <td>PhoneNumber</td>
            <td><Input type="password" asp-for="@Model.Member.PhoneNumber" /></td>
        </tr>
        <tr>
            <td>&nbsp</td>
            <td><Input type="submit" value="Login" /></td>
        </tr>
    </table>
    <a asp-page="CreateMember">Create a new Member</a>
</form>